@import "./vars.scss";
@import "./helpers.scss";

.blockquote {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $lightText;

  .top {
    @extend .top-row-container;
  }

  .bottom {
    @extend .bottom-row-container;
  }
}
